@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
h2 {
  word-spacing: 40px;
}

</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<table>
    <tr>
        <th>Number</th>
        <th>Balance</th>
        <th>Label</th>
        <th>Owner</th>

    </tr>
    @foreach (var account in Model.Accounts)
    {
        //<h2>@account.Number @account.Balance   @account.Label  @account.Owner</h2>





        <tr>
            <td width="60">@account.Number</td>
            <td width="60">@account.Balance</td>
            <td width="60">@account.Label</td>
            <td width="60">@account.Owner</td>

        </tr>


    }
</table>
